<section class="section top-section">
  <div class="content-container content-theme-dark">
    <div class="content-inner">
      <div class="content-center">
        <h1>Showroom</h1>
        <p>Welcome To The Showroom</p>
      </div>
    </div>
  </div>
</section>

<section class="section bottom-section">
  <div class="content-container content-theme-light">
    <div class="content-inner">
      <div class="content-center">
        <h1>Showroom</h1>
        <p>Welcome To The Showroom</p>

      </div>
    </div>
  </div>
</section>


